<header class="primary_color">
    <div class="w-75 mx-auto">
        <img src="{{logoImgSrc}}" alt="{{logoAlt}}" width="250">

        <div id="right_header">
            <div id="login">
                <button type="button" class='btn text-dark'>
                    <i class="fa fa-user-circle-o"></i> Entre ou cadastre-se
                </button>
            </div>
            <div id="wishlist">
                <img src="{{wishlistImgSrc}}" alt="{{wishlistAlt}}" width="50">
            </div>
            <div id="shopping_cart">
                <a routerLink="/carrinho">
                    <span class="badge badge-dark rounded-circle">{{cartCount}}</span>
                    <img src="{{shoppingCartImgSrc}}" alt="{{shoppingCartAlt}}" width="50">
                </a>
            </div>
        </div>
    </div>
</header>