<div class="row mx-auto d-inline-block" *ngFor="let produto of produtos">
    <div class="col">
        <div class="bg_white produto_comp">
            <div class="p-3" (click)="visualizarProduto(produto)" routerLinke="/produto">
                <img class="float-left mr-3" src="{{ produto.imagem }}" alt="{{ produto.alt }}" height="170" width="130">
                <p class="font-weight-bold card-text">{{ produto.desc }}</p>
                <p class="small card-text">{{ produto.vendidoPor }}</p>
                <p class="small overline card-text">R$ {{ produto.precoDe }}</p>
                <p class="font-weight-bold card-text">R$ {{ produto.precoPor }}</p>
                <p class="small card-text">{{ produto.parcelamento }}</p>

                <button type="button" class='btn btn-outline-warning text-dark border-dark'>
                    <i class="fa fa-shopping-cart"></i> ADICIONAR AO CARRINHO
                </button>
            </div>
        </div>
    </div>
</div>