.navbar {
    padding: unset;
}

#nav_horizontal {
    width: 100%;
    background-color: #fff;
    border-bottom: 2px solid #d5d5d5;
    transition: margin .2s ease-in-out;
    font-weight: bold; 
}

#nav_horizontal .navbar .navbar-nav li:first-child {
    background: #efefef;
    font-weight: bold;
    margin-right: 50px;
    width: 192px;
}

#nav_horizontal .navbar .navbar-nav .nav-item a:hover {
    background: #efefef;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.limit {
    position: relative;
    padding-left: 0;
    display: flex;
    max-width: 1360px;
    min-width: 700px;
    margin: 0 auto;
    text-align: left;
    box-sizing: border-box;
}